.App {
  background-color: rgb(30, 40, 66);
  background-image: linear-gradient(
    270deg,
    rgb(30, 40, 66),
    rgba(53, 201, 221, 0.25),
    rgba(53, 201, 221, 0.25),
    rgba(53, 201, 221, 0.25),
    rgba(53, 201, 221, 0.25),
    rgb(30, 40, 66)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 1vw;
}
@media (orientation: landscape) {
  html {
    font-size: 1vw;
  }
}
@font-face {
  font-family: "Get Schwifty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff") format("woff");
}
/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}
