.main {
  display: flex;
  padding: 2rem;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  color: aliceblue;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  animation: slidein 1s;
}
@keyframes slidein {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
hr {
  border: solid 0.1rem;
}
.img {
  height: 25rem;
  width: 25rem;
}
