/*  Reflect Card */
.card {
  position: relative;
  width: 17rem;
  height: 17rem;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: 0.8s ease-in-out;
  transform-style: preserve-3d;
  border-radius: 1rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: rgb(8, 8, 8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation-name: slidein;
  animation-duration: 1s;
  margin: 2.5rem;
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

@keyframes slidein {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}

.card:hover {
  transform: scale(1.1);
  border-color: rgb(255, 204, 63);
  box-shadow: 0 0 1rem rgb(255, 204, 63);
}
.card .name {
  opacity: 100%;
}

@media (orientation: landscape) {
  .card .name {
    opacity: 0;
    transition: 1s ease;
  }
  .card:hover .name {
    opacity: 100%;
  }
}
.muerto:hover {
  border-color: rgb(141, 9, 9);
  box-shadow: 0 0 1rem #ff0000;
}

.vivo:hover {
  border-color: rgb(0, 224, 56);
  box-shadow: 0 0 1rem rgb(0, 224, 56);
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.name {
  position: absolute;
  top: 0;
  width: 100%;
  color: aliceblue;
  padding-bottom: 3%;
  padding-top: 3%;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: rgba(10, 52, 77, 0.6);
  border-radius: 1rem 1rem 0rem 0rem;
  font: 14px / normal "Arial", Helvetica, Sans-Serif;
  font-weight: bold;
  text-align: center;
}

.fadeOut {
  animation: 1.5s slideOut;
  opacity: 0;
  width: 0rem;
  height: 0rem;
  margin: 0;
  font-size: 0;
  border: none;
  padding: 0;
}
@keyframes slideOut {
  from {
    width: 17rem;
    height: 17rem;
    opacity: 100%;
  }

  to {
    width: 0rem;
    height: 0rem;
    opacity: 0;
  }
}
.fadeOut hr {
  display: none;
  margin: 0;
}
.fadeOut button {
  display: none;
  margin: 0;
}

/*  Close Button */
.closeButton {
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(61, 106, 255);
  font-weight: 600;
  background: solid;
  color: #000000;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.closeButton:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 0.3rem 0.1rem rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.closeButton:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.closeButton::before {
  content: "";
  display: block;
  height: 86%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 1rem 0.6rem #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.closeButton:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
