.searchBox {
  background: #2f3640;
  height: 6vh;
  border-radius: 6vh;
  padding: 1vh;
}

.searchBox:hover > .searchInput {
  width: 15vh;
  padding: 0 0.6vh;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 4vh;
  text-align: center;
  transition: 0.4s;
  line-height: 4vh;
  width: 0vh;
  margin-top: 1vh;
  margin-left: 1vh;
}

.materialIcons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
