.searchBox {
  background: #2f3640;
  height: 4rem;
  border-radius: 4rem;
  padding: 1rem;
}

.searchBox:hover > .searchInput {
  width: 10rem;
  padding: 0 0.6rem;
}
.searchInput:focus {
  width: 10rem;
  padding: 0 0.6rem;
}
.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-width: 0.3rem;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 3rem;
  text-align: center;
  transition: 0.4s;
  width: 0rem;
  margin-left: 1rem;
}

.materialIcons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 4vh;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
