.container {
  display: grid;
  place-items: center;
}
.cardContainer {
  display: flex;
  margin-left: 0vw;
  width: 100rem;
  transition: margin-left 1.5s ease;
  align-items: center;
  overflow: unset;
}
/* Button Container/**/
.buttonContainer {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  z-index: 100;
}