.main {
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 25vh;
  margin-bottom: 1vh;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  flex-wrap: wrap;
  color: aliceblue;
  font-size: 0.7rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.img {
  height: max-content;
  width: max-content;
}
