.container {
  min-width: 50%;
  height: 20%;
  min-height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
.flexBox {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.iconButton {
  color: white;
  float: right;
  width: 5rem;
  height: 3rem;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  border-width: 0.3rem;
}
.iconButton:hover {
  background: white;
  color: #2f3640;
}
.materialIcons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
.title {
  text-align: center;
  font-family: "Get Schwifty";
  font-size: 3rem;
  color: #08bae3;
  -webkit-text-stroke: 0.1rem yellowgreen;
  font-weight: 300;
  text-shadow: 0 0 1rem rgb(255, 204, 63);
}
